VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impxdm9idGpvdXR1dmNmeHhjYXlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDczODI5NzAsImV4cCI6MjA2Mjk1ODk3MH0.Od_AuI6qlrCp3FHYWzwvbGC7njjegiTPi73s4P7e2Gs
VITE_SUPABASE_URL=https://jqvobtjoutuvcfxxcayf.supabase.co